<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <%= image_tag 'logo.png',size: 50 %>
        <span class="ml-3 text-xl">国試ex for PT</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center mr-5">
        <a class="mr-5 ">トップ</a>
        <a class="mr-5 ">ダッシュボード</a>
        <a class="mr-5 ">過去問演習</a>

        <% if user_signed_in? %>
            <div class="hover:text-orange-300"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %></div>
        <% else %>
          <a class="mr-5 ">マイページ</a>
        <% end %>
    </nav>
</div>
